@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/livvic/latin-400.woff2) format("woff2");
}
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/livvic/latin-600.woff2) format("woff2");
}
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/livvic/latin-700.woff2) format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/montserrat/montserrat-latin.woff2) format("woff2");
}

html,
body {
  font-family: "Montserrat", system-ui, sans-serif;
  color: #122134;
  background-color: #e1e7d9;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Livvic", system-ui, sans-serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1400px;
  }
}
